{
  "printWidth": 80,
  "singleQuote": true,
  "cssPrintWidth": 1000,
  "proseWrap": "preserve",
  "semi": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "parser": "css"
}
