body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  margin: 1rem;
}

.calculator_container {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: none;
  box-sizing: border-box;
}

.row {
  width: 100%;
  display: grid;
  background-color: #ebedf0;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.row button {
  text-align: center;
  border: 1px solid rgb(192, 190, 190);
  padding: 1.5rem 0;
  vertical-align: middle;
  cursor: pointer;
}

.row :nth-child(4n),
.row :last-child {
  background-color: #fe9600;
}

.input_field {
  box-sizing: border-box;
  width: 100%;
}

input {
  width: 100%;
  padding: 1.2rem 10px;
  box-sizing: border-box;
  text-align: right;
  border-bottom: none;
  background-color: gray;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

input:focus {
  outline: none;
}

.zero {
  grid-column: 1/3;
}
